.signUpContainer {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createAccountButton {
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: 6px;
}

.text {
  text-align: center;
  color: #E1E1E6;
 }
