.learnContentContainer {
  margin: 10% 4%;
}

.shortDesc {
  font-style: italic;
  margin-bottom: 12px;;
}

h3 {
  text-align: center;
}

p {
  font-size: 22px;
}

@media screen and (max-width: 600px) {
  .learnContentContainer {
    margin: 30% 7%;
  }
}